.ServerList {
    padding: 20pt;
}
.ServerList > * {
  background: #8884;
  padding: 10pt;
  margin: 2pt;
}

.ServerList > *:first-child {
  border-radius: 10pt 10pt 0pt 0pt;
}

.ServerList > *:last-child {
  border-radius: 0pt 0pt 10pt 10pt;
}